<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="RO"/>
<meta name="charset" content="UTF-8"/>
<meta name="language" content="RO"/>
<meta name="description" content="FIH"/>
<link rel="stylesheet" type="text/css" href="/BibicuDorin/css/still.css"/>
<script type="text/javascript" src="../personal.js"></script>

<meta name="author" content="BD"/>
<meta name="keywords" content="Bibicu D"/>
<title>FEAA GL</title>


<style type="text/css">
#content {margin-right: 0px;}
</style>

<style>   
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid blue;  
}   
</style>  

</head>
<body>
<div id="wrap">
<table width="100%" style="padding:0;margin:0">
  <tr>
    <td id="logo">
      <a href="/"><img src="/BibicuDorin/img/siglaUgal.png"></a>
    </td>
    <td id="header">
      <h1>Dorin BIBICU</h1>
      <h3>Lector universitar doctor</h3>
      <p>Universitatea Dunărea de Jos din Galați</p>
      <p>Facultatea de Economie și Administrarea Afacerilor</p>
    </td>
    <td id="poza">
      <a href="res/cv.pdf" target="_blank">
        <img src="/BibicuDorin/img/siglaFEAA.png"/>
      </a>
    </td>
  </tr>
</table>



<br><br>
<div id="avmenu">
  <h2 class="hide">Menu:</h2>
  <ul>
    <li><a href="{{ path('Bibicu_Dorin_home')}}">Home</a></li>
    <li><a href="{{ path('Bibicu_Dorin_biografie')}}">Biografie</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaStiintifica')}}">Activitate didactică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaStiintifica')}}">Activitate ştiinţifică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_contact')}}">Contact</a></li>
    <script type="text/javascript" src="/md/link.js?u=3"></script>
  </ul>
  <div class="announcel">
    <h3>Links:</h3>
    <p>- <a href="http://www.ugal.ro/">Universitatea Dunărea de Jos din Galați</a></p>
    <p>- <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor</a></p>
  </div>
</div>


<div id="content">
  <div align="center">
  <h2>Activitatea didactică</h2>
</div>

<div class="wrapingimage">   
<img class="img-enlarge-hover" height="100" width="100" src="/BibicuDorin/img/dorin2.jpg">
</div>

<br><br><br>
<div>
  <h3> <u>Discipline:</h3></u>
 <ul type="disc">
<li style="padding-left: 15px">Bazele informaticii: anul I, semestrul 1, domeniile de studiu: MG, MK (Curs; Laborator). </li>
<li style="padding-left: 15px">Baze de date: anul II, semestrul 1, domeniile de studiu: CIG (Laborator). </li>
<li style="padding-left: 15px">Sisteme de operare: anul II, semestrul 1, domeniile de studiu: IE (Curs; Laborator). </li>
<li style="padding-left: 15px">Bazele programării: anul I, semestrul 2, domeniile de studiu: IE (Curs; Laborator). </li>
<li style="padding-left: 15px">Competențe digitale avansate: anul I, semestrul 2, domeniile de studiu: MG (Curs; Laborator). </li>
<li style="padding-left: 15px">Informatică managerială: anul II, semestrul 2, domeniile de studiu: MG (Laborator). </li>
<li style="padding-left: 15px">Sisteme pentru asistare a deciziei: anul III, semestrul 2, domeniile de studiu: IE, CIG (Laborator). </li>
    </ul>
</div>

<br>
<div>
  <h3> <u>Alte discipline și cursuri predate:</h3></u>
<ul type="disc">
<li style="padding-left: 15px">Informatică programare C/C++, preuniversitar clasele a IX-XI a. </li>
<li style="padding-left: 15px">Informatică Baze de date - Oracle, preuniversitar clasa a XII a. </li>
<li style="padding-left: 15px">Tehnologia informației, preuniversitar clasele a IX-X a. </li>
<li style="padding-left: 15px">CDȘ - C# Aplicații didactice, preuniversitar clasele a IX-XII a. </li>
<li style="padding-left: 15px">CDȘ - Pagini web, preuniversitar clasele a IX-XII a. </li>
<li style="padding-left: 15px">CDȘ - Robotică, preuniversitar clasele a IX-XII a. </li>
<li style="padding-left: 15px">CDȘ - Multimedia, preuniversitar clasele a IX-XII a. </li>
<li style="padding-left: 15px">CDȘ - ECDL 3D printing, preuniversitar clasele a IX-XII a. </li>
<li style="padding-left: 15px">Cursuri CISCO ITE1 și 2. </li>
<li style="padding-left: 15px">Cursuri ORACLE. </li>
<li style="padding-left: 15px">Cursuri de formare a adulților - Operator calculator. </li>
<li style="padding-left: 15px">Cursuri postuniversitar: Bazele programării, Sisteme de operare. </li>
</ul>
</div>

<br>
<div>
  <h3> <u>Alte activități didactice și conexe desfășurate:</h3></u>
<ul type="disc">
<li style="padding-left: 15px">Organizator, propunător de subiecte, evaluator la concursurile și olimpiadele școlare de informatică. </li>
<li style="padding-left: 15px">Membru în Comisia Națională a Olimpiadei OTI secțiunea C#. </li>
<li style="padding-left: 15px">Membru în Comisia Națională a Olimpiadei Infoeducație. </li>
</ul>
</div>


    <p align="right">Ultima actualizare 26.03.2023</p>
</div>
<div id="footer">
&ndash; 2023 B.D. &ndash; 
</div>

</div>
</body>
</html>

