<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="RO"/>
<meta name="charset" content="UTF-8"/>
<meta name="language" content="RO"/>
<meta name="description" content="FIH"/>
<link rel="stylesheet" type="text/css" href="BibicuDorin/css/still.css"/>
<script type="text/javascript" src="../personal.js"></script>

<meta name="author" content="Alic Carmen Inge"/>
<meta name="keywords" content="Alic Carmen Inge"/>
<title>Facultatea de Inginerie Hunedoara</title>


<style type="text/css">
#content {margin-right: 0px;}
</style>

<style>   
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid blue;  
}   
</style>  

</head>
<body>
<div id="wrap">
<table width="100%" style="padding:0;margin:0">
  <tr>
    <td id="logo">
      <a href="/"><img src="BibicuDorin/img/siglaUgal.png"></a>
    </td>
    <td id="header">
      <h1>Dorin BIBICU</h1>
      <h3>Lector universitar doctor</h3>
      <p>Universitatea Dunărea de Jos din Galați</p>
      <p>Facultatea de Economie și Administrarea Afacerilor</p>
    </td>
    <td id="poza">
      <a href="res/cv.pdf" target="_blank">
        <img src="BibicuDorin/img/siglaFEAA.png"/>
      </a>
    </td>
  </tr>
</table>



<br><br>
<div id="avmenu">
  <h2 class="hide">Menu:</h2>
  <ul>
    <li><a href="{{ path('home')}}">Home</a></li>
    <li><a href="{{ path('biografie')}}">Biografie</a></li>
    <li><a href="{{ path('activitateaDidactica')}}">Activitate didactică</a></li>
    <li><a href="{{ path('activitateaStiintifica')}}">Activitate ştiinţifică</a></li>
    <li><a href="{{ path('contact')}}">Contact</a></li>
    <script type="text/javascript" src="/md/link.js?u=3"></script>
  </ul>
  <div class="announcel">
    <h3>Links:</h3>
    <p>- <a href="http://www.ugal.ro/">Universitatea Dunărea de Jos din Galați</a></p>
    <p>- <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor</a></p>
  </div>
</div>


<div id="content">
  <div align="center">
  <h2>Activitatea științifică</h2>
</div>

<div class="wrapingimage">   
<img class="showUpBottom img-enlarge-hover" height="100" width="100" src="BibicuDorin/img/dorin2.jpg">
</div>

<br><br><br>
<div>
  <h3> <u>A. Teza de doctorat:</h3></u>
  Contribuții privind dezvoltarea sistemelor independente CAD pentru procesarea complexă a imaginilor 2D/3D, susținută la Universitatea “Dunărea de Jos” din Galaţi în 2013.
</div>

<br><br>
<div>
  <h3> <u>B. Cărţi si capitole în cărţi publicate:</h3></u>
 <ol start="1" type="1">
<li style="padding-left: 15px">L. Moraru, S. Moldovanu, <b>D. Bibicu</b>, Metode avansate de procesare și analiză a imaginilor complexe, Galati University Press, 2013, ISBN 978-606-8348-67-4, pp.1-196. </li>
    </ol>
</div>

<br>
<div>
  <h3>  <u>C. Lucrari stiintifice publicate in volume cotate ISI:</h3></u>
  <div align="justify">
    <ol start="1" type="1">
<li><b>D. Bibicu</b>, S. Moldovanu, L. Moraru, De-noising of Ultrasound Images from Cardiac Cycle using Complex Wavelet Transform with Dual Tree, Journal of Engineering Studies and Research, vol. 18, no. 1, 2012, pp. 24-30.</li>
<li><b>Dorin Bibicu</b>, Luminita Moraru, Anjan Biswas, Thyroid Nodule Recognition Based on Feature Selection and Pixel Classification Methods, Journal of Digital Imaging, ISSN 0897-1889, Volume 26, Number 1, pp. 119-128, 2013, Factor Impact=1.255.</li>
<li><b>D. Bibicu</b>, L. Moraru, Cardiac Cycle Phase Estimation in 2-D Echocardiographic Images using an Artificial Neural Network, IEEE Transactions on Biomedical Engineering, 60 (5), pp. 1273-1279, 2013, Print ISSN: 0018-9294, Factor Impact 2.278.</li>
<li>L. Moraru, <b>D. Bibicu</b>, A. Biswas, Standalone functional CAD system for multi-object case analysis in hepatic disorders, Computers in Biology and Medicine, 2013, ISSN 0010-4825, Factor Impact=1.089.</li>
<li><b>Dorin Bibicu</b>, Luminita Moraru and Anjan Biswas, Efficient Segmentation Using Active Contours Embedded in an Image Feature, Journal of Medical Imaging and Health Informatics Vol. 5, 241–247, 2015, ISSN 2156-7018, FI 0.621.</li>
<li>Moraru L , Moldovanu S , Culea-Florescu AL , <b>Bibicu D</b>, Ashour AS , Dey N, Texture analysis of parasitological liver fibrosis images, Microsc. Res. Tech. 2017 Aug;80(8):862-869, ISSN 1059-910X, FI 1.147.</li>
<li>Moraru, L., Moldovanu, S., Culea-Florescu, A.-L., <b>Bibicu, D.</b>, Dey, N., Ashour, A. S. and Sherratt, S, Texture spectrum coupled with entropy and homogeneity image features for myocardium muscle characterization, Current Bioinformatics. Print ISSN: 1574-8936, FI 0.6, january 2018.</li>
    </ol>
	</div>


<br>
<div>
  <h3>  <u>D. Lucrari stiintifice publicate in volume cotate BDI:</h3></u>
  <div align="justify">
    <ol start="1" type="1">
<li>S. Moldovanu, <b>D. Bibicu</b>, L. Moraru, Comparative study of density distribution of microbubbles between frames end-systole and end-diastole inside cavity left ventricle, Journal of Engineering Studies and Research, vol. 18, no. 3, 2012, pp. 87-91.</li>
<li><b>D. Bibicu</b>, L. Moraru, Run-Length Textural Descriptors and Artificial Neural Networks for Steatosis Liver Disease Detection, Advanced Science, Engineering and Medicine, 5(11), November 2013 , pp. 1137-1143.</li>
<li><b>D. Bibicu</b>, L. Moraru, Echocardiographic evaluation of myocardium wall via CAD application and Artificial Neural Network, Scientific Annals of the University Dunarea de Jos of Galati: Fascicle II, Mathematics, Physics, Theoretical Mechanics . 2013, Vol. 36, Issue 1, p5-11.</li>
<li><b>D. Bibicu</b>, L. Moraru, Hybrid CADiSolution for Foreign Bodies Detection in Abdominal Echographic Images, Annals of “Dunarea de Jos” University of Galati Mathematics, Physics, Theoretical Mechanics Fascicle II, year VI (XXXVII) 2014, No. 1, Proceedings of the Scientific Conference of Doctoral Schools from “Dunărea de Jos” University of Galati (CCSD-UDJG 2014), Galati, May 15-16, 2014 Section 4 - applied sciences and environment, pp 17-24.</li>
<li><b>Dorin Bibicu</b>, Luminita Moraru,Simona Moldovanu, Thyroid Nodules Investigation based on an Artificial Neural Network, Annals of the University Dunarea de Jos of Galati: Fascicle II, Mathematics, Physics, Theoretical Mechanics . 2017, Vol. 40 Issue 1, p43-54.</li>
<li>Simona Moldovanu, Luminita Moraru, Diana Stefanescu, <b>Dorin Bibicu</b>, Edge-Preserving Filters in a Boundary Options Context, Annals of the University Dunarea de Jos of Galati: Fascicle II, Mathematics, Physics, Theoretical Mechanics . 2017, Vol. 40 Issue 1, p5-11.</li>
<li><b>Dorin Bibicu</b>, Luminita MORAR, Simona MOLDOVANU,  Local or External Databases in Android Programming. A Practical Comparative Study, Annals of “Dunarea de Jos” University of Galati Fascicle I. Economics and Applied Informatics Years XXIV – no1/201.</li>
<li>Maria (Stan) Necula, <b>Dorin Bibicu</b>, Simona Moldovanu, Luminita Moraru, Performance Analysis of an Array of Sensors Based on the Direction of Arrival algorithm, Conference of Doctoral Schools from Dunarea de Jos University Galati, Romania, 7-8 June 2018, prezentare poster, Annals of “Dunarea de Jos” University of Galati, Mathematics, Physics, theoretical mechanics, Fascicle II, year X (XLI) 2018, No. 1, pp. 70-75.</li>
<li>Simona Moldovanu, Luminița Moraru, <b>Dorin Bibicu</b>, Face detection with Euler number algorithm based on morphological operators, Conference of Doctoral Schools from Dunarea de Jos University Galati, Romania, 7-8 June 2018, prezentare poster, Annals of “Dunarea de Jos” University of Galati, Mathematics, Physics, theoretical mechanics, Fascicle II, year X (XLI) 2018, No. 1, pp. 65-69.</li>
<li>Necula (Stan), M., <b>Bibicu, D.</b> and Moraru, L. (2019) “Vibration of rectangular plates: fundamental mode and integer multiple of the fundamental period of vibration”, Analele Universității ”Dunărea de Jos” din Galați. Fascicula II, Matematică, fizică, mecanică teoretică / Annals of the ”Dunarea de Jos” University of Galati. Fascicle II, Mathematics, Physics, Theoretical Mechanics, 42(1), pp 43-48. Chemometric application operating a portable laser infrared sensor detecting illicit phenethylamines.</li>
<li><b>Bibicu Dorin</b>, An Original Algorithm for Password Encryption, Annals of “Dunarea de Jos” University of Galati Fascicle I. Economics and Applied Informatics Years XXVII – no2/2021, pp. 133-136.</li>
    </ol>
	</div>

<br>
<div>
  <h3> <u>E. Lucrări publicate în reviste şi  volume de conferinţe cu referenţi (neindexate):</h3></u>
  <div align="justify">
    <ol start="1" type="1">
<li>Luminiţa Moraru, <b>Dorin Bibicu</b>, Segmentarea Imaginilor Digitale, Revista de Fizică Medicală, Vol 2, nr 1, Aprilie 2014, ISSN 2344-3944.</li>
<li><b>Bibicu Dorin</b>, Negru Ionut, Iancu Tiberiu, Virtual catalog, SmartStudent, ISSN 2559-2513, 2016, pp 69-73.</li>
<li><b>Bibicu Dorin</b>, Ignat Cristian, Negru Ionuţ, Credit E-Learning, SmartStudent, ISSN 2559-2513, 2016, 74-80.</li>
<li>Dumitrov Cristian-Andrei, Fotache Ionela, <b>Bibicu Dorin</b>, StockUI, SmartStudent, ISSN 2559-2513, 2016 pp.131-136.</li>
<li><b>Bibicu Dorin</b>, C# de la A la Z – articole publicate în revista de informatică IMPULS++, nr-le. 2-12, Galaţi, ISSN 2067-9815.</li>
<li>Gheorghiță Dana, <b>Bibicu Dorin</b>, O nouă abordare privind dezvoltarea aplicației ImageSlideShow în Android Studio, SmartStudent, FEAA Galati, ISSN 2559-2513, 2019.</li>
    </ol>
	</div>

<br>
<div>
  <h3> <u>F. Stagii și proiecte internaționale:</h3></u>
  <div align="justify">
    <ol start="1" type="1">
<li>2001 - Stagiu de cercetare la Universitatea Le Havre, Franța, cu tema “La diffusion résonnante par trois et quatre tube élastique”.</li>
<li>2013 - Stagiu de cercetare la Laboratorul de Dinamică și Imagistică Cardiovasculară din Leuven, Belgia, cu tema "Segmentarea imaginilor ecocardiografice 3D prin metoda BEAS și contribuții la dezvoltarea platformei software de diagnosticare medicală denumită Speqle3D".</li>
<li>2017-2018 - Membru cercetător în proiectul MESMERISE 700399/2016 Title: Multi-Energy High Resolution Modular Scan System for Internal and External Concealed Commodities, Horizon 2020.</li>

    <p align="right">Ultima actualizare 26.03.2023</p>
</div>
<div id="footer">
&ndash; 2023 B.D. &ndash; 
</div>

</div>
</body>
</html>

