<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="RO"/>
<meta name="charset" content="UTF-8"/>
<meta name="language" content="RO"/>
<meta name="description" content="FIH"/>
<link rel="stylesheet" type="text/css" href="/BibicuDorin/css/still.css"/>
<script type="text/javascript" src="../personal.js"></script>

<meta name="author" content="BD"/>
<meta name="keywords" content="Bibicu D"/>
<title>FEAA GL</title>


<style type="text/css">
#content {margin-right: 0px;}
</style>

<style>   
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid blue;  
}   
</style>  

</head>
<body>
<div id="wrap">
<table width="100%" style="padding:0;margin:0">
  <tr>
    <td id="logo">
      <a href="/"><img src="/BibicuDorin/img/siglaUgal.png"></a>
    </td>
    <td id="header">
      <h1>Dorin BIBICU</h1>
      <h3>Lector universitar doctor</h3>
      <p>Universitatea Dunărea de Jos din Galați</p>
      <p>Facultatea de Economie și Administrarea Afacerilor</p>
    </td>
    <td id="poza">
      <a href="res/cv.pdf" target="_blank">
        <img src="/BibicuDorin/img/siglaFEAA.png"/>
      </a>
    </td>
  </tr>
</table>



<br><br>
<div id="avmenu">
  <h2 class="hide">Menu:</h2>
  <ul>
    <li><a href="{{ path('Bibicu_Dorin_home')}}">Home</a></li>
    <li><a href="{{ path('Bibicu_Dorin_biografie')}}">Biografie</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaDidactica')}}">Activitate didactică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaStiintifica')}}">Activitate ştiinţifică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_contact')}}">Contact</a></li>
    <script type="text/javascript" src="/md/link.js?u=3"></script>
  </ul>
  <div class="announcel">
    <h3>Links:</h3>
    <p>- <a href="http://www.ugal.ro/">Universitatea Dunărea de Jos din Galați</a></p>
    <p>- <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor</a></p>
  </div>
</div>


<div id="content">
  <div align="center">
  <h2>Biografie</h2>
</div>

<i><h3>Aici puteți găsi <a href="https://feaa.ugal.ro/fisiere/echipa/bibicu-dorin.pdf">CV-ul</a> meu complet.</i></h3>

<div class="wrapingimage">   
<img class="img-enlarge-hover" height="100" width="100" src="/BibicuDorin/img/dorin2.jpg">
</div>

<br>
<div align="justify">
    <h3 ><u>Date personale</h3></u>
    <ul>
      <li><strong>Nume şi prenume</strong>: Bibicu Dorin</li>
      <li><strong>Naţionalitate</strong>: Română </li>
      <li><strong>Data şi locul naşterii: </strong>Galați</li>
      <li><strong>Adresă</strong>: Galați, România </li>
      <li><strong>Telefon</strong>: (+40) 742451405 </li>
      <li><strong>Fax </strong> -  </li>
	  <li><b>E-mail</b>: dorin.bibicu@ugal.ro <script type="text/javascript">doMail()</script></li>
      <li><strong>Stare civilă</strong>: căsătorit.</li>
      </ul>
	</div>

<div align="justify">
    <h3><u>Educaţie şi formare</h3></u>
	<h3>Pregătirea de specialitate, studii generale, specializări şi perfecţionări </h3>
    <ul>
            <li><strong>2013</strong> - Doctorat în domeniul Inginerie industrială, Universitatea Dunărea de Jos din Galați, Facultatea de Științe.</li>
            <li><strong>2005</strong> – Studii postuniversitare, specializarea informatică, Universitatea Dunărea de Jos din Galați, Facultatea de Științe.</li>
<li><strong>2001</strong> – Studii aprofundate Unde, vibrații și tehnici de control nedistructiv, Universitatea Dunărea de Jos din Galați, Facultatea de Științe. </li>
		<li><strong>2000</strong> - Licențiat în matematică-fizică, Universitatea Dunărea de Jos din Galați, Facultatea de Științe.</li>		
<br>
    </ul>
		Alte stagii de perfecţionare/specializare pe care le-am efectuat în ţară şi în străinătate, precum şi competenţele dobândite, sunt menţionate în secţiunea corespunzătoare a CV-ul meu.
    </div>

<br>
<div align="justify">
      <h3><u>Experienţă profesională</h3></u>
      <ul>
		<li><strong>prezent</strong>, cadru didactic titular, grad didactic lector universitar la Universitatea Dunărea de Jos din Galați/Facultatea de Economie și Administrarea Afacerilor.</li>
            <li><strong>prezent</strong>, profesor titular la disciplina informatică, grad didactic I, la Liceul teoretic Dunărea din Galați.</li>
		<li><strong>2016–2022</strong>, asistent universitar titular în învăţământul superior la Universitatea Dunărea de Jos din Galați/Facultatea de Economie și Administrarea Afacerilor</li>
		<li><strong>2000-2022</strong>, cadru didactic în învăţământul preuniversitar, Grade didactice: definitivat (2001-2006), gradul II (2006-2011), gradul I (2011-prezent).</li>
      </ul>
    </div>

    <p align="right">Ultima actualizare 26.03.2023</p>
</div>
<div id="footer">
&ndash; 2023 B.D. &ndash; 
</div>

</div>
</body>
</html>

