<!DOCTYPE html>
<html>
    <head>
        <title>{{studentName}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css"/>
       <link rel="stylesheet" href="BibicuDorin/css/bibicu.css">
    </head>

    <body>
        <main>


            <div class="container h-center">
		

                <div class="half-width col showUpBottom">
				    <table bgcolor="red" width="1000px">
					<tr>
					<td align="center" width="800px">
						<h1 class="text-large bold text-cursive">
						Pagina personala<br>{{studentName}}</h1>
					</td>
					
					<tr>
					<td>
                
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
				   <p class="description">
                                        <i class="fa-solid fa-graduation-cap text-info"></i> Studii:
                                    </p>
                                    <ul style="list-style-type:disc" class="">
                                    {% for school in education%}
                                        <li>
                                            <h3 class="text-medium mt-default">{{school.schoolName}}</h3>
                                            <p class="text-muted">{{school.description}} <span  class="pill text-small">{{school.startYear}} - {{school.endYear}}</span></p>

                                            

                                        </li>
                                    {% endfor %}
                                    </ul>

                                    <br> <br> <br> <br>
                                </div>
                            </div>  

                        </div>
                    </div>
					
					</td>
					
					<td align="center" style="vertical-align: top;"horizothal-align;">
					      <br><br><br><br><br><br><br><br><br>
						<img class="showUpBottom img-enlarge-hover" style="width:50%;" src="BibicuDorin/img/dorin2.jpg" alt="{{studentName}}" title="{{studentName}}" valig="center"/>
						</div>
						<br>
						<br>
						<a href="{{ path('job') }}" >Job-uri</a>
					</td>
					</tr>
					</table>
                </div>
				
            </div>
        </main>

        
    </body>
</html>
