<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="RO"/>
<meta name="charset" content="UTF-8"/>
<meta name="language" content="RO"/>
<meta name="description" content="FIH"/>
<link rel="stylesheet" type="text/css" href="/BibicuDorin/css/still.css"/>
<script type="text/javascript" src="../personal.js"></script>

<meta name="author" content="BD"/>
<meta name="keywords" content="Bibicu D"/>
<title>FEAA GL</title>


<style type="text/css">
#content {margin-right: 0px;}
</style>

<style>   
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid blue;  
}   
</style>  

</head>


<body>
<div id="wrap">
<table width="100%" style="padding:0;margin:0">
  <tr>
    <td id="logo">
      <a href="/"><img src="/BibicuDorin/img/siglaUgal.png"></a>
    </td>
    <td id="header">
      <h1>Dorin BIBICU</h1>
      <h3>Lector universitar doctor</h3>
      <p>Universitatea Dunărea de Jos din Galați</p>
      <p>Facultatea de Economie și Administrarea Afacerilor</p>
    </td>
    <td id="poza">
      <a href="res/cv.pdf" target="_blank">
        <img src="/BibicuDorin/img/siglaFEAA.png"/>
      </a>
    </td>
  </tr>
</table>



<br><br>
<div id="avmenu">
  <h2 class="hide">Menu:</h2>
  <ul>
    <li><a href="{{ path('Bibicu_Dorin_home')}}">Home</a></li>
    <li><a href="{{ path('Bibicu_Dorin_biografie')}}">Biografie</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaDidactica')}}">Activitate didactică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_activitateaStiintifica')}}">Activitate ştiinţifică</a></li>
    <li><a href="{{ path('Bibicu_Dorin_contact')}}">Contact</a></li>
    <script type="text/javascript" src="/md/link.js?u=3"></script>
  </ul>
  <div class="announcel">
    <h3>Links:</h3>
    <p>- <a href="http://www.ugal.ro/">Universitatea Dunărea de Jos din Galați</a></p>
    <p>- <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor</a></p>
  </div>
</div>


<div id="content">
  <div align="center">
  <h2>Home</h2>
</div>

<p align="justify"><i><h3>Bun venit! Aceasta este pagina mea personală.</i></h3>
</p>

<div class="wrapingimage">   
<img class="img-enlarge-hover" height="100" width="100" src="/BibicuDorin/img/dorin2.jpg">
</div>

<p align="justify">Sunt cadru didactic la  <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor </a> din cadrul <a  href="http://www.ugal.ro/">Universităţii Dunărea de Jos</a> și la <a href="http://www.dunarea-info.ro/"> Liceul Teoretic Dunărea</a> din Galați, România. De asemenea desfășor activități de cercetare științifică în cadrul Laboratorului de Modelare și Simulare <a href="https://www.smlab.ro/">SMlab.</a></p>
<p align="justify">În această pagină găsi informaţii despre biografia mea, activitatea didactică, programul de cercetare şi studiile de doctorat, o listă a publicaţiilor precum şi activităţile manageriale şi în sprijinul procesului didactic desfăşurate în facultate. </p>
<p align="justify">Pregătirea mea profesională de bază este cea de licențiat în matematică-fizică și postuniversitar informatică. Din anul 2003 sunt doctor în domeniul Inginerie Industrială.  </p>
<p align="justify">Actualmente, activitatea didactică se desfăşoară în cadrul Departamentului de Administrarea Afacerilor din cadrul F.E.E.A, la disciplinele: Bazele informaticii, Bazele programării, Sisteme de operare, Competențe digitale avansate, Baze de date, Informatică managerială, Sisteme informatice pentru asistarea deciziei.</p>
<p align="justify">Domeniile principale de interes sunt: educație, programarea calculatoarelor, tehnici pentru procesarea imaginilor digitale.</p>


    <p align="right">Ultima actualizare 26.03.2023</p>
</div>
<div id="footer">
&ndash; 2023 B.D. &ndash; 
</div>

</div>
</body>
</html>

