<!DOCTYPE html>
<html>
    <head>
        <title>{{studentName}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css"/>
        <link rel="stylesheet" href="BibicuDorin/css/bibicu.css" type="text/css"/>
    </head>

    <body>
        <main>


            <div class="container h-center">
		
                <div class="half-width col showUpBottom">
				
				    <table bgcolor="red">
					<tr>
					<td align="center" width="1500px">
						<h1 class="text-large bold text-cursive">
						{{studentName}}</h1>
					</td>
					
					<tr>
					<td width="600px">
                
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                      
                                    <p class="description">
                                        <i class="fa-solid fa-list text-info"></i> Job-uri:
                                    </p>  

                                    <ul class="checkboxed">
                                    {% for job in joburi%}
                                        <li>{{job.name}}</li>
										<br>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>  

                        </div>
                    </div>
					
					</td>
					
					<td width="1000px" align="center" style="vertical-align: top;"horizothal-align;">
					      <div class="third-width col text-center overflow-hidden">
						<img class="showUpBottom img-enlarge-hover" style="width:60%;" src="BibicuDorin/img/dorin2.jpg" alt="{{studentName}}" title="{{studentName}}" valig="center"/>
						</div>
						<br>
						<br>
						<a href="{{ path('Bibicu_Dorin') }}" >Home page</a>
                                                <br> <br> <br>
					</td>
					</tr>
					</table>
                </div>
				
            </div>
        </main>
    </body>
</html>
