{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70vw;
            margin: 20px auto;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
        }

        .card-content {
            flex-grow: 1;
            padding-left: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 16px;
            color: #888888;
            margin-bottom: 10px;
        }

        .card-author {
            font-size: 14px;
            color: #555555;
            margin-bottom: 5px;
        }

        .card-timestamp {
            font-size: 12px;
            color: #999999;
        }
    </style>
{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="card">
            <div class="card-content">
                <div class="card-title">{{ article.title }}</div>
                <div class="card-text">{{ article.text }}</div>
                <div class="card-author">Autor: {{ article.author.username }}</div>
                <div class="card-timestamp">Publicat: {{ article.createdAt|date('d/m/Y H:i') }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
